:host{
  display: contents;
  width: 100%;
}
tr{
  border-bottom: 1px solid black;
}
td{
  width: 50%;
  padding: 10px 0;
}
.room-delete,.room-edit{
  outline: none;
  border: none;
  margin: 0 5px;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #616161;
  cursor: pointer;
  padding: 3px 8px;
  transition: .1s box-shadow;
}
.room-delete:active,.room-edit:active{
  box-shadow: 2px 2px 4px 1px #616161;
}
.room-delete{
  background-color: #D50000;
  color: #fff;
}
app-room-edit{
  display: block;
  width: 100%;
  text-align: center;
}
